{% extends "base.jinja" %}
{% block content %}
    <h2>{{ recipe.title }}</h2>

    <h3>Ingredients:</h3>
    <ul>
        {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <h3>Instructions:</h3>
    <ol>
        {% for instruction in recipe.instructions %}
        <li>{{ instruction }}</li>
        {%endfor%}
    </ol>

{% endblock content %} 
